<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js lessons</title>
    <link media="all" rel="stylesheet" href="assets/css/vendor.min.css">
    <link media="all" rel="stylesheet" href="assets/css/style.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="v-for-test">
        <ul>
          <li v-for="index, number in numbers" @mouseenter="mouseEnter($event, index)" @mouseleave="mouseLeave($event, index)">{{index}} - {{number}}</li>
        </ul>
        <button @click="addNumber">add number</button>
        <button @click="sortNumbers">sortNumbers</button>
        <ul>
          <li v-for="value, key, index in info">{{index}} - {{key}} : {{value}} </li>
        </ul>
      </div>
    </div>
  </body>
  <script src="assets/js/vendor.min.js" defer=""></script>
  <script src="assets/js/app.js" defer=""></script>
</html>