.guest-form, .user-form {
  .input-wrapper {
    display: flex;
    flex-direction: column;
  }
  .add-btn {
    background: rgb(46, 194, 243);
    border: none;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 15px;

    &:hover {
      background: darken(rgb(46, 194, 243), 15%)
    }
  }

  table {
    border: 1px solid;
    // border-color: rgba($gray, 1);
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin: 20px 0;

    th {
      border: 1px solid;
      // border-color: rgba($gray, 1);
    }

    td {
      border: 1px solid;
      // border-color: rgba($gray, 1);
    }
  }
}