doctype html
html(lang='en')
  include ../partials/head
  body
    .wrapper
      .user-form
        form.invitation-form(@submit.prevent="validateBeforeSubmit")
          .input-wrapper
            label(for="firstName") First Name
            input(type="text" name="firstName" placeholder="First Name" id="firstName" v-validate="'required|min:4'"  data-vv-as="first name" v-model.lazy="user.firstName")
            span.error {{errors.first('firstName')}}
          .input-wrapper
            label(for="lastName") Last Name
            input(type="text" name="lastName" placeholder="Last Name" id="lastName" v-validate="'required|min:4'" data-vv-as="last name" v-model.lazy="user.lastName")
            span.error {{errors.first('lastName')}}
          .input-wrapper
            label(for="email") Email
            input(type="email", name="email" placeholder="Email" id="email" v-validate="'required|email'" v-model.lazy="user.email")
            span.error {{errors.first('email')}}
          .input-wrapper
            label(for="age") Age
            input(type="text", name="age" id="age" placeholder="Age" v-validate="'numeric|max_value:120'" v-model.lazy="user.age")
            span.error {{errors.first('age')}}
          .input-wrapper
            label(for="skype") Skype
            input(type="text", name="skype" placeholder="Skype" id="skype" v-validate="'min:4'" v-model.lazy="user.skype")
            span.error {{errors.first('skype')}}
          button(type="submit").add-btn + Add User
        table(v-if="showTable")
          tr
            th First Name
            th Last Name
            th Email
            th Age
            th Skype
          tr
          tr(v-for="(user) in users")
            td {{user.firstName}}
            td {{user.lastName}}
            td {{user.email}}
            td {{user.age}}
            td {{user.skype}}
          tr
    include ../partials/foot